<main class="py-12 px-4 m-2 mx-auto max-w-5xl rounded-xl border sm:px-8 bg-slate-50 border-slate-300">
  <div class="mx-auto max-w-7xl">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
  </div>
</main>
