<h1>Edit Bad record</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.bad_record_path(@conn, :update, @bad_record)) %>

<span><%= link "Back", to: Routes.bad_record_path(@conn, :index) %></span>
